[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = benjiemc
	email = benjamin.mcmaster@alumni.ubc.ca
[core]
	pager = cat
